@import null.css .name {
  color: red;
}

.info-name {
  color: green;
}

.text {
  color: grey;
}

span {
  color: blue;
}

.defenition span {
  color: purple;
}

.paragraph.main-info {
  color: brown;
}

.paragraph,
.item {
  color: black;
}

#punkt {
  color: rgb(8, 187, 32);
}
