@import "null.css";

.name {
  color: #ff0000;
}

.info-name {
  color: #008000;
}

.text {
  color: #808080;
}

span {
  color: #0000ff;
}

.defenition span {
  color: #800080;
}

.paragraph.main-info {
  color: #a52a2a;
}

.paragraph,
.item {
  color: #000000;
}

#punkt {
  color: #08bb20;
}
